* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
	background:#dde7f1;
}

.main-bkgr {
    position: absolute;
    top: 0%;
    left: 50%;
	box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.08);
    transform: translate(-50%, 0%);
    width: 95%;
    height: 100%;
    max-width: 800px;
    background: #fff;
}

.main-content {
    position: relative;
    background: #fff;
    width: 100%;
}

.main-header {
    text-align: center;
    padding: 30px;
}

.main-list-posts {
    padding: 15px;
}

.main-list-posts > ul {
    list-style: none;
    height: 98%;
}

.main-list-posts > ul > li {
    display: flex;
    padding: 10px;
    border: 1px solid;
    width: 100%;
    max-width: 800px;
    background-color: lightgrey;
    height: 98%;
}

.main-list-posts > ul > li > a {
    font-size: 18px;
}

.main-list-posts > ul > li > div {
    margin-left: auto;
    font-size: 12px;
}

.main-list-posts > ul > li > div > a:first-child {
    margin-right: 5px;
}

.main-list-posts > ul > li:hover {
    background-color: darkgrey;
}

.main-buttons-container {
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    justify-content: right;
}
.main-buttons-container button {
    width: 80px;
    height: 30px;
    position: relative;
    text-align: center;
}